<h1>Dallas Eats</h1>
<p>
  The premier list of Dallas' top eateries!<br><br>
  <small>( According the the <em><strong>Tech Talent South</strong></em>
    Winter 2016 PT Class )</small>
</p>

<h1>Chipotle</h1>
<%= image_tag "chipotle.jpg", style: "height: 500px; width: 1000px"; %>  
<p>Price: $ Meal for a deal</p>
<p>Location: 208 N Market St, Dallas, TX 75202</p>
<p>Type: Mexican Food</p>
<p>I don't judge people food because  I can't cook so I go to restaurant that I love to eat.</p>

<h1>Emporium of Fine Pies</h1>
<%= image_tag "emporium.jpg", style: "height: 500px; width: 1000px";%> 
<p>Price: "Good pie doesn't have a price"</p>
<p>Location: 314 N Bishop Ave, Dallas, TX 75208</p>
<p>Type: Pie specialist in a cottage with a few tables offering signature sweets & seasonal specials</p>
<p>"Fine pies for fine folk" say all and more about Emporium Pies.  Located in a trendy neighborhood in an old cottage, they'll make you not feel terrible about spending $8 on a piece of delicious pie you once thought was your 3rd favorite desert.</p>

<h1>Perry's Steakhouse</h1>
<%= image_tag "perry.jpg", style: "height: 500px; width: 1000px"; %> 
<p>Price: $$$ Bring the Benjamins!</p>
<p>Location: 2000 McKinney Ave #100, Dallas, TX 75201</p>
<p>Type: Chops, seafood, wine & cocktails served in an upscale setting with a lounge & live jazz</p>
<p>Are you trying to get a raise or get laid?  If yes to either (not both), take your date to Perry's Steakhouse.  Perry's will show off your excellent taste in fine wine, steak, seafood, and jazz.  That's right, sit back and drink your last paycheck while you listen to soothing notes from the live band.  Your stomach and your company will leave happy.</p>

<h1>The Porch</h1>
<%= image_tag "theporch.jpg", style: "height: 500px; width: 1000px"; %> 
<p>Price: $$ Budget-Fancy</p>
<p>Location: 2912 N Henderson Ave, Dallas, TX 75206</p>
<p>Type: Southern, American (New), Sandwiches</p>
<p>So your mom is coming to town and you want to treat her to a nice Dallas dinner but not shell out the Dallas price?  The Porch is the place for you.  It's southern charm and specialty cocktails, as well as it's $20 entrees, show your mom AND your bank balance you know how to adult.</p>

<h1>Wendy's</h1>
<%= image_tag "wendys.jpg", style: "height: 500px; width: 1000px";%> 
<p>Price: $ Meal for a deal</p>
<p>Location: 4018 Lemmon Ave, Dallas, TX 75219</p>
<p>Type: Fast Food Restaurant</p>
<p>Wendy's is like your best friend from 3rd grade: you can call them in the middle of the night but you probably shouldn't.  Best consumed when coherent, you can #treatyoself with their spicy chicken sandwich and frosty for about $5 and be on your way.</p>